main
*.mashtree
/compiler/*.install
/*.install
/*.out
output/*.o
output/*.run
output/*.s
output/*.dSYM
script/node_modules
.installed-pkgs
*.sw*
*~
*.o
*.log
_build/
.installed-pkgs
notes.org
node_modules/
*.wasm
*.wasm.map
*.wat
*.modsig
.tern-port
setup.data
setup.ml
myocamlbuild.ml
.merlin
js-runner/dist
/*.gr
_esy/
pkg/

# The grainc.exe binary is copied to the CLI directory during build
cli/bin/grainc.exe
cli/bin/grainc_js.bc.js
cli/bin/graindoc.exe
cli/bin/graindoc_js.bc.js
cli/bin/grainformat.exe
cli/bin/grainformat_js.bc.js

.DS_Store
