main
*.mashtree
/compiler/*.install
/*.install
/*.out
output/*.o
output/*.run
output/*.s
output/*.dSYM
script/node_modules
.installed-pkgs
*.sw*
*~
*.o
*.log
_build/
.installed-pkgs
notes.org
node_modules/
*.wasm
*.wasm.wast
*.wasm.modsig
.tern-port
setup.data
setup.ml
myocamlbuild.ml
.merlin
runtime/dist
script/public/javascripts/grain-runtime.js
script/public/javascripts/grain-runtime-browser.js
/*.gr
_esy/

# The grainc.exe binary is copied to the CLI directory during build
cli/bin/grainc.exe

# Local settings.json for vscode should not be checked in
# But the directory contains a build script for setting up OCaml LSP
.vscode/settings.json
